/* This is Css*/
#header1 {
    text-align: center;
    border-style: solid;
    border-color: brown;
    background-color: orange;
    margin
    margin: 45px;
    font-size: 30px;
    text-indent: 10px;
} 
body {
    background-color: plum;
  }